@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,500,700,800);

:root {
  /* 淺色底與文字 */
  --main-bg-color: rgb(252, 251, 250); 
  --main-text-color: rgb(65, 63, 63);
  --main-link-hover: rgb(246, 197, 85);
  
  /* 深色底與文字 */
  --second-bg-color: rgb(246, 197, 85);
  --second-text-color: rgb(65, 63, 63);
  --second-link-hover: rgb(207, 197, 140);
  /* --text-color: rgb(65, 63, 63); */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'overpass', sans-serif;
  font-size: 1em;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans';
  padding: 0;
  margin: 0;
  background-color: var(--second-bg-color);
  color: var(--main-text-color);
}

img {
  height: auto;
  max-width: 100%;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 500;
}

a:hover,
a:active {
  color: var(--main-link-hover);
  /* font-weight: 700; */
}

header {
  background-color: var(--second-bg-color);
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}

.site-name,
.site-name a,
.site-name a:hover {
  font-size: 1.5em;
  color:var(--main-text-color);
  display: inline-block;
  margin-top: 15px;
}

#nav{
  margin-top: 15px;
}
#nav a {
  color: #fff;
}

#nav ul {
  list-style: none;
}

#nav li {
  display: inline-block;
  padding: 10px;
  list-style-position: outside;
  transition: all 0.3s ease-in;
}

.bnt {
  margin: 0px 0px 0px 10px;
  padding: 8px 10PX;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.24),
  0 0px 5px 0 rgba(0, 0, 0, 0.24);
}
.select{
  display: inline-block;
  padding-right: 20px;
}
.posts{
  margin-top: 100px;
}

.post {
  margin: 0px auto;
  width: 600px;
  padding: 20px 35px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  font-weight:300;
  color: var(--text-color);
  line-height: 1.5em;
  max-width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
  0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.post ~ .post {
margin-top: 20px;
}

.post__title {
  font-size: 1.3em;
  text-transform:uppercase;
  padding-bottom: 10px;
}

.post__foot {
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.category__foot {
  position: absolute;
  right: 15px;
  bottom: 12px;
}

.post__foot a:hover {
  color: var(--main-link-color);
}

p ~ p{  
margin-top: 10px;
}

/* form */
form input,
form textarea,
form input[type="date"] {
  font-family: "Overpass", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1em;
}

form input[type="submit"]{
  font-family: "Overpass", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--second-bg-color);
  width: 100%;
  border: 0;
  padding: 15px;
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 1em;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

/* footer */
footer, footer a {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  
}

@media only screen and (max-width: 600px) {
  body {
    background-color: var(--main-bg-color);
  }
  .post {
    margin: 0px auto;
    width: 95%;
    padding: 20px 20px;
  }
  .post__foot {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}
