@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,500,700,800);

:root {
  /* 淺色底與文字 */
  --main-bg-color: rgb(252, 251, 250); 
  --main-text-color: rgb(65, 63, 63);
  --main-link-hover: rgb(246, 197, 85);
  
  /* 深色底與文字 */
  --second-bg-color: rgb(246, 197, 85);
  --second-text-color: rgb(65, 63, 63);
  --second-link-hover: rgb(207, 197, 140);
  /* --text-color: rgb(65, 63, 63); */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'overpass', sans-serif;
  font-size: 1em;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans';
  padding: 0;
  margin: 0;
  background-color: var(--second-bg-color);
  color: var(--main-text-color);
}

img {
  height: auto;
  max-width: 100%;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 500;
}

a:hover,
a:active {
  color: var(--main-link-hover);
  /* font-weight: 700; */
}

header {
  background-color: var(--second-bg-color);
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}

.site-name,
.site-name a,
.site-name a:hover {
  font-size: 1.5em;
  color:var(--main-text-color);
  display: inline-block;
  margin-top: 15px;
}
/* mobile-menu */
.mobile-menu {
  display: block;
  width: 100%;
  background: var(--second-bg-color);
  line-height: 2em;
  /* font-weight: 400; */
  width: 100%;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

/*Strip the ul of padding and list styling*/
.mobile-menu ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  background: var(--second-bg-color);
}

/*Create a horizontal list with spacing*/
.mobile-menu li {
  display: inline-block;
}

/* Style for menu links*/
.mobile-menu li a {
  display: block;
  min-width: 140px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  /* background: #8aa8bd; */
  text-decoration: none;
  margin-left: -5px;
  padding: 10px 0;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/*Hover state for top level links*/
.mobile-menu li:hover a {
  color: var(--second-text-color);
  /* background-color:#ccddee; */
}

/*Style for dropdown links*/
.mobile-menu li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

/*Hover state for dropdown links*/
.mobile-menu li:hover .mobile-menu ul a:hover {
  color: #4db3ff;
}

/*Hide dropdown links until they are needed*/
.mobile-menu li ul {
  display: none;
}

/*Make dropdown links vertical*/
.mobile-menu li ul li {
  display: block;
  float: none;
}

/*Prevent text wrapping*/
.mobile-menu li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

/*Style 'show menu' label button and hide it by default*/
.mobile-menu .show-menu {
  text-decoration: none;
  color: #fff;
  background: var(--second-bg-color);
  text-align: center;
  padding: 10px 15px;
  display: none;
  cursor: pointer;
  /* text-transform: uppercase; */
}

.mobile-menu .show-menu span {
  padding-left: 35px;
}

/*Hide checkbox*/
.mobile-menu input[type=checkbox] {
  display: none;
}

/*Show menu when invisible checkbox is checked*/
.mobile-menu input[type=checkbox]:checked~#menu {
  display: block;
}


.bnt {
  margin: 0px 0px 0px 10px;
  padding: 8px 10PX;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.24),
  0 0px 5px 0 rgba(0, 0, 0, 0.24);
}
.select{
  display: inline-block;
  padding-right: 20px;
}
.posts{
  margin-top: 100px;
}

.post {
  margin: 0px auto;
  width: 600px;
  padding: 20px 35px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  font-weight:300;
  color: var(--text-color);
  line-height: 1.5em;
  max-width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
  0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.post ~ .post {
margin-top: 20px;
}

.post__title {
  font-size: 1.3em;
  text-transform:uppercase;
  padding-bottom: 10px;
}

.post__foot {
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.category__foot {
  position: absolute;
  right: 15px;
  bottom: 12px;
}

.post__foot a:hover {
  color: var(--main-link-color);
}

p ~ p{  
margin-top: 10px;
}

/* form */
form input,
form textarea,
form input[type="date"] {
  font-family: "Overpass", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1em;
}

form input[type="submit"]{
  font-family: "Overpass", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--second-bg-color);
  width: 100%;
  border: 0;
  padding: 15px;
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 1em;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

/* footer */
footer, footer a {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  
}

@media only screen and (max-width: 800px) {
  body {
    background-color: var(--main-bg-color);
  }
    .mobile-menu .lines {
border-bottom: 15px double #f8f8f8;
border-top: 5px solid #f8f8f8;
content: "";
height: 5px;
width: 30px;
padding: 3px 20px;
float: right;
    }

    /*Make dropdown links appear inline*/
    .mobile-menu ul {
      position: static;
      display: none;
    }

    /*Create vertical spacing*/
    .mobile-menu li {
      margin-bottom: 1px;
    }

    /*Make all menu links full width*/
    .mobile-menu ul li,
    .mobile-menu li a {
      width: 100%;
    }

    /*Display 'show menu' link*/
    .mobile-menu .show-menu {
      display: block;
    }
  .post {
    margin: 0px auto;
    width: 95%;
    padding: 20px 20px;
  }
  .post__foot {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}
